
// Colors
$orange: #F5980C;
$white-primary: #fff;
$white-secondary: #ffffff;
$black-primary: #000000;
$black-secondary: #000;

// Text Color
$text-pprimary: #EDEDED;

// Btn background
$btn-primary: #ffffff;
